/bin/
.classpath
.project
.settings
.target
*.Ds_store
*.iml
nirvana.iml
.idea/
.logs*
.catalina*
.catalina.base_IS_UNDEFINED*
/target/
/target
.DS_store
*.DS_store
logs/target/
/setting/
.settings/
log.txt
/catalina.base_IS_UNDEFINED/
/.setting/
.reviewboardrc
